/* ********************************************************** ANIMATIONS **********************************************/

/* au chargement sur titre header */
@keyframes fadeinHeaderTitle
{
	0% {
		opacity: 0;
		transform: translateY(-80px);
		text-shadow: none;
	}
	80% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		text-shadow: 4px 4px 10px #4b6d62;	
	}
}

/* au chargement sur texte header */
@keyframes fadeinHeaderText
{
	0% {
		opacity: 0;
		transform: translateX(-200px);
		text-shadow: none;	
	}
	75% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		text-shadow: 4px 4px 10px #4b6d62;	
	}
}

/* constant CTA header */
@keyframes headerCallToAction
{
	0% {
		transform: translateY(0px);
		box-shadow: 0px 0px 8px #8da9a0
	}
	25% {
		transform: translateY(-2px);
		box-shadow: 0px 1px 12px #8da9a0;
	}
	75% {
		transform: translateY(2px);
		box-shadow: 0px 0px 8px #8da9a0;
	}
	100% {
		transform: translateY(0px);
		box-shadow: 0px 0px 8px #8da9a0;
	}
}

/* survol CTA header */
@keyframes headerCallToActionHover
{
	0% {
		background-image: linear-gradient(140deg, gold 50%, orange);
		box-shadow: 0px 0px 8px #8da9a0;
	}
	5% {
		background-image: linear-gradient(140deg, gold 48%, orange);
	}
	10% {
		background-image: linear-gradient(140deg, gold 46%, orange);
	}
	15% {
		background-image: linear-gradient(140deg, gold 44%, orange);
	}
	20% {
		background-image: linear-gradient(140deg, gold 42%, orange);
	}
	25% {
		background-image: linear-gradient(140deg, gold 40%, orange);
	}
	30% {
		background-image: linear-gradient(140deg, gold 38%, orange);
	}
	35% {
		background-image: linear-gradient(140deg, gold 36%, orange);
	}
	40% {
		background-image: linear-gradient(140deg, gold 34%, orange);
	}
	45% {
		background-image: linear-gradient(140deg, gold 32%, orange);
	}
	50% {
		background-image: linear-gradient(140deg, gold 30%, orange);
	}
	55% {
		background-image: linear-gradient(140deg, gold 28%, orange);
	}
	60% {
		background-image: linear-gradient(140deg, gold 26%, orange);
	}
	65% {
		background-image: linear-gradient(140deg, gold 24%, orange);
	}
	70% {
		background-image: linear-gradient(140deg, gold 22%, orange);
	}
	75% {
		background-image: linear-gradient(140deg, gold 20%, orange);
	}
	80% {
		background-image: linear-gradient(140deg, gold 18%, orange);
	}
	85% {
		background-image: linear-gradient(140deg, gold 16%, orange);
	}
	90% {
		background-image: linear-gradient(140deg, gold 14%, orange);
	}
	95% {
		background-image: linear-gradient(140deg, gold 12%, orange);
	}
	100% {
		background-image: linear-gradient(140deg, gold 10%, orange);
		box-shadow: 0px 2px 16px #7c998f;
	}
}

/* constant sur CTA promotion */
@keyframes promoCTA
{
	0%
	{
		transform: scale(1);
	}
	40%
	{
		transform: scale(1);
	}
	50%
	{
		transform: scale(1.05);
	}
	60%
	{
		transform: scale(1);
	}
	100%
	{
		transform: scale(1);
	}
}

/* ouverture modal box et survol de l'icone favoris */
@keyframes appearing
{
	0%
	{
		transform: scale(0);
	}
	100%
	{
		transform: scale(1);
	}
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, /* ol, ul, li, */
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
}

html
{
	scroll-behavior: smooth;
}

body
{
	height: 100%;
	width: 100%;
	font-size: 1.3rem;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3
{
	font-family: 'Montserrat', sans-serif;
}

a
{
	text-decoration: none;
	color: inherit;
}

.container
{
	max-width: 1170px;
	margin: 0 auto;
/*	padding: 0 20px; */
}

/********************************************************** TOP NAV *************************************************************/

#mainMenu
{
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	background-color: #4a94c8;
	box-shadow: 0px 0px 6px #133465;
}

#mainMenu ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
}

/********************************************************** TOP MENU **********************************************************/
#mainMenu #topMenu
{
	background-color: #3881B3;
}

#mainMenu #topMenu ul
{
	font-size: 0.9rem;
	display: flex;
	justify-content: flex-end;
	padding: 2px 0px 0px 0px;
}

#mainMenu #topMenu li
{
	padding: 0px 12px;
	font-weight: 600;
}

#mainMenu #topMenu li a:hover
{
	color: white;
	transition: 0.2s;
}

#mainMenu #topMenu .menuFlag
{
	margin-right: auto;
}

#mainMenu #topMenu .menuFlag img
{
	height: 20px;
	filter: brightness(90%);
}

/********************************************************** BOTTOM MENU *************************************************/
#bottomMenuResponsive
{
	display: none;
}

#mainMenu #bottomMenu
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#mainMenu #bottomMenu ul
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* font-size: 1.2rem; *********************************** */
}

#mainMenu #bottomMenu li
{
	padding: 0px 20px;
	color: white;
}

#mainMenu #bottomMenu li a:hover
{
	transition: 0.2s;
	border-bottom: 3px solid white;
}

#mainMenu #bottomMenu img
{
	width: 200px;
}

#searchBar input
{
	border: none;
	border-bottom: 2px solid #cae1eb; /* #b9d9e7; #17374a;*/	
	background-color: inherit;
	font-size: 1.3rem;
	padding-left: 5px;
}

#searchBar input::placeholder
{
	color: #b9d9e7; /* #17374a;*/
}

#searchBar input:focus
{
	outline-color: silver;
}

#searchBar button
{
	border: none;
	color: #cae1eb; /* #b9d9e7; #17374a;*/
	font-size: 1.3rem;
	padding: 5px;
	background-color: inherit;
	cursor: pointer;
	transition: 0.5s;
}

#myCartButton button
{
	border: none;
	background-color: gold;
	padding: 10px 28px;
	border-radius: 40px;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: bold;
	transition: 0.4s;
}

#myCartButton button:hover
{
	filter: brightness(105%);
	border-radius: 5px;
}



/************************************************************** HEADER ********************************************************/

#mainHeader
{
	position: relative;
	margin-top: 80px;
	height: 580px;
	background-image: url(img/greenEnergy6.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#mainHeader h1, #mainHeader p
{
	padding: 10px 20px;
	color: white;
	text-shadow: 4px 4px 10px #4b6d62;	
}

#mainHeader h1
{
	font-size: 4rem;
	animation: fadeinHeaderTitle 2.2s forwards;
}

#mainHeader p
{
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 30px;
	animation: fadeinHeaderText 2.2s ease-out;
}

#mainHeader #headerContent
{
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	bottom: 20px;
}

#headerCallToAction
{
 	display: inline-block;
 	padding: 12px 35px;
 	font-size: 1.6rem;
 	font-weight: bold;
 	background-image: linear-gradient(140deg, gold 50%, orange);
 	border-radius: 100px;
 	color: white;
 	box-shadow: 0px 0px 8px #8da9a0;
 	transition: 1s;
 	animation: headerCallToAction 2s infinite linear;
}
#headerCallToAction:hover
{
 	/* background-image: linear-gradient(140deg, gold 20%, orange);
 	box-shadow: 0px 1px 12px #607870; */
	animation: headerCallToActionHover 1s forwards;
}

/**************************************************************** SKEW ********************************************************/

#mainHeader .headerSkew
{
	background-color: white;
	transform: skewY(4deg);
	position: absolute;
	z-index: 10;
	top: 90%;
	width: 100%;
	height: 120px;
	box-shadow: -3px 11px 0px white, 0px -2px 12px #5d6b35; /* #343c1d; */
}
#mainHeader .headerSkew h2
{
	margin-top: 10px;
	transform: skewY(-4deg);
	margin-left: 30px;
	font-size: 4rem;
	color: #326588;
}



/*************************************************************** CONCEPT ********************************************************/

.concept
{
	position: relative;
	background-color: white;
	padding: 90px 0px 20px 0px;
	overflow: hidden;
}

.concept .container
{
	display: flex;
	align-items: center;
}

.concept p
{
	margin: auto;
	margin-bottom: 30px;
	padding: 15px 0px;
	font-size: 1.5rem;
	color: #326588;
	line-height: 1.6;
}

#conceptGIF
{
	height: 220px;
	border-radius: 200px;
	margin-right: 32px;
	margin-bottom: 20px;
	box-shadow: 2px 4px 30px silver;
}


/*************************************************************** ADVANTAGES *****************************************************/

.advantagesTriangle
{
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 100px 0px 0px 2000px;
	border-color: white transparent transparent transparent;
}


.advantages
{
	position: relative;
	background-image: url(img/windTurbines4.jpg);
	background-size: contain;
	background-repeat: repeat-x;
	text-align: center;
	padding: 90px 0px 40px 0px;
	font-size: 1.2rem;
}

.advantages .container
{
	display: grid;
	grid-template-areas: "title1 title1 title1 title1"
						 "advantage1 advantage2 advantage3 advantage4"
						 "title2 title2 title2 title2";
	grid-template-columns: minmax(1fr, 350px) minmax(1fr, 350px) minmax(1fr, 350px) minmax(1fr, 350px);
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	grid-gap: 20px 30px;
}

.advantages h2
{
	font-size: 3.5rem;
	color: white;
	text-shadow: 4px 4px 8px #555555;
}
.advantages #advantageTitle1
{
	grid-area: title1;
	justify-self: left;
}
.advantages #advantageTitle2
{
	grid-area: title2;
	justify-self: right;
}

.advantages .advantage1
{
	grid-area: advantage1;
	margin-top: 75px;
}
.advantages .advantage2
{
	grid-area: advantage2;
	margin-top: 25px;
}
.advantages .advantage3
{
	grid-area: advantage3;
	margin-bottom: 25px;
}
.advantages .advantage4
{
	grid-area: advantage4;
	margin-bottom: 75px;
}

.advantages article
{
	text-align: center;
	padding: 30px 5px 60px 5px;
	box-shadow: 0px 3px 16px #555555;
	overflow: hidden;
	border-radius: 20px;
	background-color: #b9d9e7;
	transition: 0.5s;
}

.advantages article h3
{
	margin: 15px;
}

.advantages article i
{
	font-size: 2.2rem;
}

.advantages article:hover
{
	filter: brightness(105%);
	transform: scale(1.05);
	box-shadow: 0px 10px 16px #555555;
}




/****************************************************************** PROMOTION **************************************************************/
.promotion
{
	padding: 30px 0px;
	background-color: #3881B3; 
}
.promotion .container
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 0px 10px 0px;
}

.promotion .promoContent
{
	color: white;
	width: 75%;
	font-weight: 600;
}

.promotion h4
{
	font-size: 2.6rem;
	color: white;
	text-align: center;
	text-shadow: 1px 1px 12px #294559;
}

.promotion a
{
	background-color: #ffbd2a;
	color: white;
	font-size: 1.5rem;
	border-radius: 50px;
	padding: 12px 35px;
	font-weight: 800;
	box-shadow: 0px 1px 16px #294559;
	transition: 0.5s;
	animation: promoCTA 4s infinite;
}
.promotion a:hover
{
	filter: brightness(110%);
	box-shadow: 0px 3px 16px #294559;
}


/***************************************************************** PRODUITS **************************************************************/
.products
{
	position: relative;
	background-image: linear-gradient(130deg, #b9d9e7, #72a6be);
}
.products .container
{
	padding: 40px 0px 60px 0px;
	position: relative;
	z-index: 10;
}

.productsRow
{
	position: relative;
	display: flex;
	justify-content: space-around;
}

.productsTitle
{
	text-align: center;
	color: #3881B3;
	font-size: 3rem;
	margin-bottom: 10px;
}

.products img
{
	height: 250px;
	padding-bottom: 10px;
	border-bottom: 1px solid silver;
}

.products h5, .products p
{
	margin: 10px 0px 30px 0px;
}

.productsRow article
{
	position: relative;
	margin: 30px;
	padding: 20px 10px 15px 10px;
	text-align: center;
	background-color: white;
	border-radius: 15px;
	box-shadow: 1px 3px 12px #707678;
	transition: 0.8s;
	max-width: 300px;
}
.productsRow article:hover
{
	box-shadow: 1px 5px 20px #707678;
	transform: scale(1.03);
}


.productsCTA
{
	padding: 10px 25px;
	background-color: #ffbd2a;
	border-radius: 100px;
	box-shadow: 0px 0px 8px silver;
	color: white;
	font-weight: 600;
	transition: 0.5s;
}
.productsCTA:hover
{
	/*background-color: #efb023;*/
	filter: brightness(110%);
	box-shadow: 0px 5px 12px silver;
}


p.addProduct .addFav
{
	margin: 0px 15px 0px 5px;
	font-size: 1.6rem;
}

.addFav .heart2
{
	display: none;
	transform: scale(0);
	color: red;
}

.addFav:hover .heart1
{
	display: none;
}
.addFav:hover .heart2
{
	display: inline-block;
	animation: appearing 0.2s forwards;
}

p.productsKnowMore
{
	font-size: 1.2rem;
	margin: 25px 0px 15px 0px;

}
p.productsKnowMore a:hover
{
	transition: 0.1s;
	border-bottom: 1px solid black;
}

/********************************************************* TRIANGLE PRODUITS *******************************************************/

.productsTriangle
{
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 510px 0px 0px 6000px;
	border-color: white transparent transparent transparent;
}





/**************************************************************** FOOTER **************************************************************/
footer
{
	background-color: #383838;
	padding: 20px 0px;
}
.footerForm p
{
	display: flex;
	justify-content: center;
	padding: 15px 0px 5px 0px;
	align-items: center;
}
.footerForm input, .footerForm textarea
{
	font-size: 1.1rem;
	padding: 10px 12px;
	border-radius: 20px;
	border: none;
}
.footerForm #formName
{
	width: 26%;
	margin-right: 2%;
}
.footerForm #formMail
{
	width: 41%;
}
.footerForm #formComment
{
	width: 71%;
	font-family: 'Open Sans';
	resize: none;
}
.footerForm #formButton
{
	padding: 10px 20px;
	font-size: 1.3rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-weight: 600;
	color: white;
	background-color: #ffbd2a;	
}

.footerForm fieldset
{
	border: none;
	border-bottom: 1px solid #616161;
	text-align: center;
	color: white;
	font-weight: bold;
	padding-bottom: 20px;
}

.footerForm fieldset legend
{
	margin: auto;
	font-size: 1.5rem;
	color: #9f9f9f;
}


/************************************************************** FOOTER LISTES **************************************************************/


.footerContent
{
	display: flex;
	justify-content: space-around;
}

.footerContent ul
{
	list-style-type: none;
}

.footerContent li:first-child
{
	color: #9f9f9f; /* #4a94c8;*/
	font-size: 1.5rem;
	padding: 10px 0px;
	text-transform: uppercase;
}
.footerContent li
{
	color: white;
	font-size: 1.1rem;
	padding: 5px 0px;
}
.footerContent li a:hover
{
	text-decoration: underline;
}

/**************************************************** MOYENS DE PAIEMENT ET MENTIONS LEGALES ********************************************/

.paymentMethod ul, .legalMentions ul
{
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #616161;
	padding: 20px 0px 0px 0px;
}

.paymentMethod ul li
{
	padding: 5px 30px;
	color: white;
}
.paymentMethod i
{
	font-size: 3rem;
}

.legalMentions ul
{
	margin-bottom: 0;
}
.legalMentions ul li
{
	padding: 0px 10px;
	color: white;
	font-size: 1.1rem;
}
.legalMentions ul li a:hover
{
	text-decoration: underline;
}

/********************************************************** ANCRE FIXE VERS LE HAUT ***************************************************************/
#toTheTop
{
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 50;
	text-align: center;
	width: 65px;
	height: 65px;
	border-radius: 50px;
	background-color: white;
	font-size: 3rem;
	box-shadow: 0px 1px 8px #404040;
	transition: 0.3s;
	color: #3881B3;
}

#toTheTop:hover
{
	transform: rotateY(180deg);
	background-color: #3881B3;
	color: white;
}


